.simple-linear {
  background: linear-gradient(rgb(60, 197, 140), rgb(71, 143, 190));
}

*{
    font-family: 'calibri';
}

hr {
    color: rgb(73, 73, 73);
}

h1 {
    font-style: italic;
    background-color: blueviolet;
}
h2 {
    font-size: 40px;
    font-style: italic;
}

h3 {
    font-size: 20px;
    font-style: italic;
}

img{
    height: 300px;
    width: 300px;
    margin: 15px 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}
 
img:hover {
    height: 333px;
    width: 400px;
    margin-left: -50px;
}

.imgRedonda {
    width:300px;
    height:300px;
    border-radius:200px;
}

ul {
    font-size: 20px;
    background-color: rgba(114, 219, 184, 0.541);
}

ol {
    font-size: 20px;
    background-color: rgba(36, 122, 180, 0.514);
}

h4 {
    font-size: 18px;
    color: rgb(100, 4, 100);
}

p {
    font-style: italic;
    font-size: 19px;
}

.boton {
    border: 1px solid #caedf8;
    padding: 10px;
    background-color: #4170bb;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'calibri';
    font-style: italic;
    border-radius: 50px;
}