body {
    font-style: italic;
    font-family: 'calibbri';
}

h1{
    font-family: 'Montserrat Alternates', sans-serif;
}

.simple-linear {
    background: rgb(202, 202, 231);
}

hr {
    color: rgb(248, 243, 243);
}

h1 {
    font-style: italic;
    background: linear-gradient(90deg, rgba(200,180,218,1) 0%, rgba(130,199,201,1) 47%, rgba(177,134,199,1) 100%);

}
h2 {
    font-size: 40px;
    font-style: italic;
}

h3 {
    font-size: 20px;
    font-style: italic;
}

img{
    height: 300px;
    width: 300px;
    margin: 15px 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}
 
img:hover {
    height: 333px;
    width: 400px;
    margin-left: -50px;
}

.imgRedonda {
    border: 2px solid;
    width:300px;
    height:300px;
    border-radius:200px;
}

.imgs {
    border-style: dotted;
    width: 200px;
    height: 200px;
    border-radius: 20%;
}

ul {
    background: linear-gradient(90deg, rgba(200,180,218,1) 0%, rgba(130,199,201,1) 47%, rgba(177,134,199,1) 100%);
    font-size: 20px;
}

ol {
    font-size: 20px;
}

p {
    font-style: italic;
    font-size: 19px;
}

.boton {
    border: 1px solid #caedf8;
    padding: 10px;
    background-color: #6f3cc0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'calibri';
    font-style: italic;
    border-radius: 50px;
}